version: '3.8'

services:
  web:
    build: .
    ports:
      - "8001:8000"
    volumes:
      - ./app:/code/app
    environment:
      - WATCHFILES_FORCE_POLLING=true # Helps with hot reload in some environments
    env_file:
      - .env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
